.button{
    
    color: $color-white;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-weight: 500;
    font-size: 1rem;
    height: 2.875rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 13.4375rem;

    &.button--primary{
        background-color: $color-rose;
        text-transform: capitalize;
    }

    &.button--secondary{
        color: $color-rose;
        text-transform: capitalize;
        
    }
}






