.custom-section {
    background: $color-white;
    font-size: 16px;
    position: relative;

    width: 100%;
    max-width: 72.8125rem;
    margin: 0 auto;

    @media screen and (min-width: 900px) {
        min-height: 10rem;
        margin-top: calc(3.0313rem + 2.25rem);
        padding-top: 3.0313rem;
    }

    &__header {
        display: flex;
        height: 9.5625rem;
        width: 100%;
        max-width: fit-content;

        @media screen and (min-width: 768px) {
            height: 6.0625rem;
        }

        @media screen and (min-width: 900px) {
            position: absolute;
            top: -3.0313rem;
        }

        @media screen and (min-width: 1024px) {
            left: .625rem;
        }

        @media screen and (min-width: 1300px) {
            left: -3rem;
        }
    }

    &__title-wrapper {
        background: $color-aqua;
        display: flex;
        align-items: center;
        height: 100%;

        @media screen and (min-width: 1024px) {
            margin-left: -1px;
        }
    }

    &__headline {
        max-width: fit-content;
        height: 100%;
    }

    &__title {
        color: $color-white;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 29px;
        width: 100%;

        padding: 0 .5rem;

        @media screen and (min-width: 425px) {
            padding: 0 1rem;
        }

        @media screen and (min-width: 768px) {
            padding: 0 2.1875rem;
        }

        .color-yellow {
            color: $color-yellow
        }
    }

    &__content {
        margin-top: 1.875rem;
    }
}