.event-joiner {
    padding-top: 3.7338rem;
    margin-bottom: 2.875rem;

    .event-joiner__wrapper {

        @media screen and (min-width: 1200px) {
            max-width: calc(100% - 5.2813rem);
            display: flex;
            margin-left: auto;
            margin-right: auto;
          }
        
          @media screen and (min-width: 1366px) {
            max-width: calc(100% - 8.2813rem);
          }
        
          @media screen and (min-width: 1600px) {
            max-width: 90rem
          }

        .event-joiner__info {

            @media screen and (min-width: 1200px) {
                margin-right: 4.5rem;
            }

            .event-joiner__title,
            .event-joiner__description,
            .event-joiner__actions {
                margin-bottom: 1rem;
                @media screen and (min-width: 768px) {
                    margin-bottom: 1.5625rem;
                }
            }

            .event-joiner__actions {
                @media screen and (min-width: 768px) {
                    display: flex;
                    justify-content: center;

                    .button {
                        width: 12.875rem;
                    }
                }

                @media screen and (min-width: 1200px) {
                    display: none;
                }
            }

            .event-joiner__description {
                color: $color-dark-purple;
                font-size: 1.125rem;
            }

            .event-joiner__topics--wrapper {
                @media screen and (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                }

                @media screen and (min-width: 1200px) {
                    display: block;
                }
            }

            .event-joiner__topics {
                margin-bottom: 6.3125rem;

                div:not(:last-of-type) {
                    margin-bottom: 1.5rem;
                }

                @media screen and (min-width: 768px) {
                    display: flex;
                    margin-bottom: 4.3931rem;
                    
                    div:first-of-type {
                        margin-right: 1.5rem;
                    }
                }

                @media screen and (min-width: 1200px) {
                    display: block;
                }

                .event-joiner__topic {
                    list-style: none;
                    display: flex;
                    align-items: center;

                    &:not(:last-of-type) {
                        margin-bottom: 1.5rem;
                    }
                }

                .event-joiner__topic-image {
                    width: 3.75rem;
                    margin-right: 1.5rem;
                }

                .event-joiner__topic-description {
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: #000000;
                }
            }
        }
    }
}