input {
    width: 100%;

    &[type="checkbox"],
    &[type="radio"] {
        color: currentColor;
        width: 2.6875rem;
        height: 2.6875rem;
        border: 1px solid $color-neutral-500;
        transform: translateY(-0.075em);

        display: flex;
        align-items: center;
        justify-content: center;

        flex: 0 0 auto;

        cursor: pointer;
    }

    &[type="radio"] {
        border-radius: 50%;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $color-neutral-500;
            background-color: CanvasText;
        }

        &:checked::before {
            transform: scale(2);
        }
    }

    &[type="checkbox"] {
        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            clip-path: polygon(7.36% 53.62%, 1.75% 63.5%, 48.5% 95.5%, 97.25% 14%, 87.5% 7%, 44.25% 79.25%);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $color-neutral-500;
            /* Windows High Contrast Mode */
            background-color: CanvasText;
        }

        &:checked::before {
            transform: scale(3) rotate(18deg);
        }
    }
}