.modal{
       
    display: none;
     padding-top: 41px;
     padding-right: 74px;
     padding-bottom: 41px;
     padding-left: 74px;
     max-width: 960px;
    border-radius: 50px;    

    &__wrapper{
        height: auto;
        margin: auto;
        border-radius: 15px;
        

        .modal__close{
            width: 18px;
            height: 44px;
            font-size: 32px;
            color: $color-rose!important;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            color: black;
        }

        @media screen and (max-width:768px) {
            .modal__close{
                right: -10px;
                top: -9px;
            }
        }

    }

    &__content{
        height: 100%;
        max-width: 38.875rem;
        margin: auto;
    }

    &__title {
        text-align: center;
        font-size: 50px;
        padding: 13px 0 50px;
        margin-bottom: 28px;
        max-height: 162px;
        line-height: 1.1;
        color: $color-rose;

        @media screen and (max-width:768px) {
          padding-bottom: 18px;
        }           
    }

    &__text{
        text-align: center;
        margin-bottom: 57px;

        @media screen and (max-width:1024px) {
            margin-bottom: 72px;
        }
        @media screen and (max-width:590px) {
            margin-bottom: 33px;
        }
        @media screen and (max-width:400px) {
            margin-bottom: 67px;
        }
    }

    &__buttons{
        display: flex;
        position: absolute;        
        left: 0;
        width: 100%;
        height: 16%;
        #proceed{
            width:50%;
            font-size: 20px;
            height: 100%;
            background-color: $color-aqua;

            @media screen and (max-width:590px) {
                font-size: 16px;
            }
            @media screen and (max-width:415px) {
                font-size: 14px;
            }

            &::after{
                content: '';
                background-image: url('/assets/icons/next_arrow.png');
                width: 50px;
                height: 50px;
                position: absolute;
                right: 35px;
                top: 50%;
                transform: translate(0, -50%);
                background-size: contain;
                background-repeat: no-repeat;

                @media screen and (max-width:890px) {
                    width: 37px;
                    top: 61%;
                }
                @media screen and (max-width:590px) {
                    right: 13px;
                }
                @media screen and (max-width:415px) {
                    width: 32px;
                }
                @media screen and (max-width:340px) {
                    right: 7px;
                }
            }
            
            
            
        }
        #back{
            width:50%;
            font-size: 20px;
            height: 100%;
            background-color: $color-aqua;
            color: white;
            border-color: $color-aqua;
            margin-right: 3px;
            position: relative;

            
            @media screen and (max-width:590px) {
                font-size: 16px;
            }
            @media screen and (max-width:415px) {
                font-size: 14px;
            }

            &::before{
                content: '';
                background-image: url('/assets/icons/back_arrow.png');
                width: 50px;
                height: 50px;
                position: absolute;
                left: 35px;
                top: 50%;
                transform: translate(0, -50%);
                background-size: contain;
                background-repeat: no-repeat;

                @media screen and (max-width:890px) {
                    width: 37px;
                    top: 61%;
                }
                @media screen and (max-width:590px) {
                    left: 13px;
                }
                @media screen and (max-width:415px) {
                    width: 32px;
                }   
            }
        }
        
    }

    @media screen and (max-width:768px) {
    
        &__title {
            font-size: 32px;
            line-height: 32px;
        }
    }
    
}
@media screen and (max-width:1260px) {
    .modal{
        width: 950px;
    }
}
@media screen and (max-width:990px) {
    .modal{
        max-width: 550px;
        padding-top: unset;
        padding-right: unset;
        padding-bottom: unset;
        padding-left: unset;
    }

    .modal{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
}   
@media screen and (max-width:570px) {
    .modal{
        max-width: 350px;
    }
}

@media screen and (max-width:345px) {
    .modal{
        max-width: 320px;
    }
}

.fancybox__backdrop{
    background-color: rgba(0,0,0,0.4)!important;
    position: absolute;
    height: 110%;
}

.fancybox__content {
    width: 860px!important;
    height: 485.27px!important;
    background-color: $color-light-blue!important;
    /* padding-left: 0!important;
    padding-right: 0!important; */
    position: relative;
    margin-left: 80px!important;
    margin-right: 80px!important;

    @media screen and (max-width:890px) {
        width: 560px!important;
    }
    @media screen and (max-width:768px) {
        height: 406px!important;
    }
    @media screen and (max-width:590px) {
        width: 420px!important;
        height: 440px!important;
    }

    @media screen and (max-width:400px) {
        height: 520px!important;
    }
    @media screen and (max-width:369px) {
        height: 547px!important;
    }
    @media screen and (max-width:330px) {
        height: 574px!important;
    }
} 

.fancybox__content>.f-button.is-close-btn{
    display: none;
}

html.with-fancybox {
    overflow: hidden;
}
