.one__source {
  background-color: $color-light-blue;
  color: $color-gray;
  font-size: 1rem;
  line-height: 1.4287rem;
  padding-top: 1.4325rem;
  padding-right: 2.4375rem;
  padding-bottom: 1.4325rem;
  padding-left: 2.4375rem;

  &_image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &_content {
    color: $color-gray;


    @media screen and (max-width: 428px) {
      max-width: 16.9375rem;
    }

    .link {
      font-weight: 500;
      text-decoration: none;
    }
  }




}