.section {
  background: $color-white;

  &__header {

    display: flex;
    // @include flex-gap(1.875rem);
    margin-right: -2rem;
    margin-bottom: 2rem;
    margin-left: -2rem;

    @include media('tablet') {
      margin-right: 0;
      margin-left: 0;
    }


    &::before {
      content: '';
      background-image: url('/icons/headline.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
      width: 6rem;
    }

  }



  &__title {
    background-color: $color-aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0%;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $color-white;
    height: 9.5625rem;
    padding-right: 2rem;
    padding-left: 1rem;
    margin-left: -2px;

    width: 100%;

    @media screen and (min-width: 375px) {
      padding-left: 2rem;
      margin-left: -1px;
    }
  }


}