.simple-hero {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;

    background-color: $color-white;
    position: relative;

    .simple-hero__content {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: transparent;
    }
}