---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="What Is It?">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sunt
    explicabo itaque atque. Quibusdam fugit cupiditate neque magnam facilis?
    Eligendi provident consequuntur illum sunt dolor fugit nam, dolorum esse
    fuga?
  </p>
</Layout>
