// Import
@import './settings/_reset.scss';
@import './settings/_variables.scss';
@import './settings/_fonts.scss';
@import './settings/_mixins.scss';
@import './settings/_layouts.scss';
@import './settings/_global.scss';
@import './settings/_utils.scss';
@import './components/_buttons.scss';
@import './components/_header.scss';
@import './components/_accordion.scss';
@import './components/_card.scss';
@import './components/_custom-section.scss';
@import './components/_pem.scss';
@import './components/_isi.scss';
@import './components/_footer.scss';

/******************************************************
-- Home Page
******************************************************/

.cards {
  display: grid;
  margin: 0 auto;
  max-width: 55.375rem;
  padding-top: 1rem;
  width: 100%;

  @include media('tablet') {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('desktop') {
    gap: 3.75rem;
    max-width: 67.5rem;
  }

}