// Import
@import './settings/_reset.scss';
@import './settings/_variables.scss';
@import './settings/_fonts.scss';
@import './settings/_mixins.scss';
@import './settings/_layouts.scss';
@import './settings/_global.scss';
@import './settings/_utils.scss';
@import './components/_buttons.scss';
@import './components/_header.scss';
@import './components/_accordion.scss';
@import './components/_card.scss';
@import './components/_custom-section.scss';
@import './components/_pem.scss';
@import './components/_one-source.scss';
@import './components/_callout.scss';
@import './components/_isi.scss';
@import './components/_footer.scss';
@import './components/_main-hero.scss';
@import './components/_simple-hero.scss';

/******************************************************
-- Home Page
******************************************************/

.cards {
  display: grid;
  margin: 0 auto;
  max-width: 55.375rem;
  padding-top: 1rem;
  margin-bottom: 5.7813rem;
  width: 100%;

  @include media('tablet') {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.9375rem;
  }

  @include media('desktop') {
    gap: 3.75rem;
    max-width: 67.5rem;
    margin-bottom: 4.66rem;
  }

}

/******************************************************
-- Savings and Support Page
******************************************************/

.savings__page {
  .custom-section {
    // @include media('mobile') {
    //   background-color: $color-soft-blue;
    // }
  }

  .custom-section__content p {
    margin-bottom: 2.125rem;
  }

  .custom-section__content p+.list {
    margin-top: -2rem;
  }

  .custom-section__content .grid__content_heading {
    font-size: 1.125rem;
    line-height: 1.4287rem;
    margin-bottom: .3125rem;
  }

  .custom-section__content .list {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }

  .custom-section__content .icon {
    display: block;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
    width: 7.75rem;

    &.financial {
      width: 9.625rem;
    }

  }


  .video__text p {
    color: $color-aqua;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.6875rem;
    text-align: center;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 16.8rem;
  }

  .stay__informed {
    .custom-section {
      padding-bottom: 2rem;
    }

    .form {
      background-color: $color-soft-blue-2;
      min-height: 300px;
      padding: 20px;

      * {
        margin-bottom: 1.5rem;
      }
    }
  }

}