---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import SimpleHero from "../components/SimpleHero.astro";
---

<Layout title="About Koselugo">
    <div class="wrapper">
        <SimpleHero folder="about-koselugo" alt="" />
        <h2>About Koselugo</h2>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
              veritatis error voluptas quas unde distinctio ea natus, tempore
              pariatur consequatur repudiandae quae earum hic harum delectus at
              sequi alias autem!
            </p>
        <Section>
          <Fragment slot="section-title">
            WHAT IS <span class="color-yellow">KOSELUGO?</span>
          </Fragment>
          <div class="wrapper">
            <h6>
              Koselugo is the FIRST and ONLY FDA-approved treatment shown to reduce the size of plexiform neurofibromas (PN)*
            </h6>
            <img src="/assets/images/about/bottles_d.svg" alt=" ">
          </div>
        </Section>
        <Section 
          noHeader>
          <h4>Visit the Koselugo Frequently Asked Questions page</h4>
          <button class="button button--basic">Visit the FAQs here</button>
        </Section>
      </div>
</Layout>