---
import Layout from "../layouts/Layout.astro";
import SimpleHero from "../components/SimpleHero.astro";
---

<Layout title="About Koselugo">
    <SimpleHero folder="about-koselugo" alt="" />
    <div class="wrapper"></div>
</Layout>
