---
import "../styles/components/_design-system.scss";
import AccordionItem from "../components/AccordionItem.astro";
import Card from "../components/Card.astro";
import PEM from "../components/PEM.astro";
import Layout from "../layouts/Layout.astro";

import Section from "../components/Section.astro";
import OneSource from "../components/OneSource.astro";
---

<Layout title="Design">
  <section class="design__system">
    <div class="wrapper">
      <h1 class="title" style="margin-top:0;">Colors</h1>
      <div class="colors">
        <div class="color">
          <div class="color__box" style="background-color: #559CB5;">
            <p class="color__hex" style="color: white;">#559CB5</p>
          </div>
          <p class="color__variable">$color-aqua</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #E2EBF2;">
            <p class="color__hex" style="color: black;">#E2EBF2</p>
          </div>
          <p class="color__variable">$color-light-blue</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #EEF5F7;">
            <p class="color__hex">#EEF5F7</p>
          </div>
          <p class="color__variable">$color-soft-blue</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #636466;">
            <p class="color__hex" style="color: white;">#636466</p>
          </div>
          <p class="color__variable">$color-gray</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #666666;">
            <p class="color__hex" style="color: white;">#666666</p>
          </div>
          <p class="color__variable">$color-granite-gray</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #C4C4C4;">
            <p class="color__hex" style="color: white;">#C4C4C4</p>
          </div>
          <p class="color__variable">$color-light-gray</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #DCD9DA;">
            <p class="color__hex" style="color: white;">#DCD9DA</p>
          </div>
          <p class="color__variable">$color-lighter-gray</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #F1F1F1;">
            <p class="color__hex">#F1F1F1</p>
          </div>
          <p class="color__variable">$color-soft-gray</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #870051;">
            <p class="color__hex">#870051</p>
          </div>
          <p class="color__variable">$color-rose</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #210022;">
            <p class="color__hex">#210022</p>
          </div>
          <p class="color__variable">$color-dark-purple</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #FFF200;">
            <p class="color__hex">#FFF200</p>
          </div>
          <p class="color__variable">$color-yellow</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #727477;">
            <p class="color__hex">#727477</p>
          </div>
          <p class="color__variable">$color-silver</p>
        </div>
        <div class="color">
          <div
            class="color__box"
            style="background-color: #ffffff; border: 1px solid #000"
          >
            <p class="color__hex">#ffffff</p>
          </div>
          <p class="color__variable">$color-white</p>
        </div>
        <div class="color">
          <div class="color__box" style="background-color: #000000;">
            <p class="color__hex" style="color: #fff;">#000000</p>
          </div>
          <p class="color__variable">$color-black</p>
        </div>
      </div>
    </div>
  </section>

  <section role="tablist" class="design__system accordion">
    <div class="wrapper">
      <h1 class="title">Accordion</h1>
      <AccordionItem
        header="Accordion Item Sample Expanded"
        id="acc-1"
        expanded
      >
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad a fugit,
          dolorum obcaecati vero temporibus delectus est tempora ipsum
          repudiandae tenetur earum, consectetur eaque ducimus. Voluptas veniam
          culpa beatae necessitatibus?
        </p>
      </AccordionItem>
      <AccordionItem header="Accordion Item Sample Collapsed" id="acc-1">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad a fugit,
          dolorum obcaecati vero temporibus delectus est tempora ipsum
          repudiandae tenetur earum, consectetur eaque ducimus. Voluptas veniam
          culpa beatae necessitatibus?
        </p>
      </AccordionItem>
    </div>
  </section>

  <section class="design__system">
    <div class="wrapper">
      <h1 class="title">Card</h1>
      <Card
        title="Card Item #1"
        image="/assets/icons/icon-educational-events.svg"
        alt="Koselugo Logo"
      >
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
          distinctio quaerat ut facilis laborum aliquam deleniti eaque, voluptas
          nisi eligendi atque aliquid praesentium! Provident, fugit modi
          asperiores a sequi cumque.
        </p>
        <p>
          <a href="#">Link</a>
        </p>
      </Card>
      <Card
        title="Card Item #2"
        image="/assets/icons/icon-support-team-1.svg"
        alt="Koselugo Logo"
      >
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
          distinctio quaerat ut facilis laborum aliquam deleniti eaque, voluptas
          nisi eligendi atque aliquid praesentium! Provident, fugit modi
          asperiores a sequi cumque.
        </p>
        <p>
          <a href="#">Link</a>
        </p>
      </Card>
    </div>
  </section>
  <section class="design__system">
    <div class="wrapper">
      <h1 class="title">Section</h1>
    </div>

    <Section>
      <Fragment slot="section-title">
        <span class="color-yellow">WHAT ARE SOME</span>ADVOCACY ORGANIZATIONS <span
          class="color-yellow">FOR PATIENTS WITH NF1 PN?</span
        >
      </Fragment>

      <div class="wrapper">
        <h6>
          The following organizations can help you connect with the NF1
          community and learn valuable information about the disease
        </h6>
      </div>
    </Section>
  </section>
  <section class="design__system">
    <div class="wrapper">
      <h1 class="title">PEM Section</h1>
      <PEM
        email="test@mail.com"
        name="John"
        phone="7878-8787"
        photoAlt="John"
        photoSrc="/assets/images/pems/pem-1.svg"
      >
        <p slot="motivates">
          I enjoy understanding a problem or issue, thinking about the possible
          solutions, and coming up with a plan to make the situation better. I
          enjoy accepting challenges that make some uncomfortable and finding a
          way to make something happen for the good of others.
        </p>
        <p slot="goal">
          My #1 goal when helping patients is to give them hope and equip them
          with the resources to manage their condition more effectively.
        </p>
      </PEM>
    </div>
  </section>
  <section class="design__system">
    <div class="wrapper">
      <h1 class="title" style="margin-top:0;">BUTTONS</h1>
      <div class="buttons">
        <button class="button button--primary">primary button</button>
        <button class="button button--secondary">secondary button</button>
        <button class="button button--basic">basic button</button>
      </div>
    </div>
  </section>
  <section class="design__system">
    <div class="wrapper">
      <h1 class="title" style="margin-top:0;">One Source</h1>
      <OneSource />
    </div>
  </section>
</Layout>
