---
import SimpleHero from '../components/SimpleHero.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Family Resources">
    <SimpleHero folder="family-resources" alt="" />
    <div class="wrapper">
        <h2>Family Resources</h2>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
              veritatis error voluptas quas unde distinctio ea natus, tempore
              pariatur consequatur repudiandae quae earum hic harum delectus at
              sequi alias autem!
            </p>

      </div>
</Layout>