---
import SimpleHero from '../components/SimpleHero.astro';
import Layout from "../layouts/Layout.astro";
import Section from '../components/Section.astro';
---

<Layout title="Glossary">

  
  <div class="glossary-page">
      <Section>
       

  <Fragment slot="section-title">
      <span class="color-yellow glossary-header">GLOSSARY</span>
  </Fragment>
  
  
      <div class="wrapper">
        <div class="glossary-page__terms">
          <p>
            <span>Clinical study: </span>Clinical studies are research studies that evaluate potential medicines by testing them in a group of people. They are the primary way researchers determine the safety and efficacy of potential treatment.
            </p>
            

            <p>
              <span>Efficacy: </span>The ability of a medication to produce a desired, beneficial outcome. In a clinical study, the efficacy of a drug is evaluated in patients.
            </p>
            
            
            <p>
              <span>FDA: </span>This is the abbreviation for the Food and Drug Administration, which is the federal agency of the United States responsible for supervising the development and approval of prescription medications.
            </p>
            
            
            <p>
              <span>Geneticist: </span>A scientist who has special training in the study of genes and heredity (the passing of genetic information from parents to their children). A medical geneticist is a doctor who specializes in diagnosing and treating genetic disorders or conditions.
            </p>
            
            
            <p>
              <span>MRI: </span>A magnetic resonance imaging (MRI) scan produces an image of the body using strong magnet and radio waves. An MRI can help your child’s doctor identify plexiform neurofibromas and can also help them see if your child is responding to treatment.
            </p>
            
            
            <p>
              <span>Neurologist: </span>A neurologist is a medical doctor who specializes in treating diseases of the nervous system: the brain, and the spinal column and nerves. Neurologists may treat NF1 PN (which is a noncancerous tumor of the nerves).
            </p>
            
            <p>
              <span>NF1 (neurofibromatosis type 1): </span>NF1 is a rare progressive condition caused by a mutation or flaw in a particular gene. NF1 is usually diagnosed in childhood. It appears in an estimated 1 out of every 3000 infants.
            </p>
            
            
            <p>
              <span>PN (plexiform neurofibromas): </span>Benign (noncancerous) tumors that grow along a nerve. Plexiform neurofibromas can develop anywhere in the body, and their size can vary from small to large.
            </p>
            
            
            <p>
              <span>Side effects: </span>Also called adverse events, they are unwanted reactions that happen as a result of taking a medication.
            </p>
            
            
            <p>
              <span>Tumor reduction: </span>Describes what happens when the size of a tumor gets smaller.
            </p>
            
        </div>
      </div>
    </Section>
  </div>
    
</Layout>