---
import Layout from "../layouts/Layout.astro";
import AccordionItem from "../components/AccordionItem.astro";
---

<Layout title="koselugo ®">
	<div class="wrapper">
		<h1>Welcome to Koselugo</h1>
		<hr />
	</div>
</Layout>
