---
import Layout from "../layouts/Layout.astro";
import AccordionItem from "../components/AccordionItem.astro";
---

<Layout title="koselugo ®">
	<div class="wrapper">
		<h1>Welcome to Koselugo</h1>
		<button class="button button--primary">primary button</button>
		<br>
		<button class="button button--secondary">secondary button </button>
		<br>
		<button class="button button--basic">basic button</button>
		<hr />
	</div>
</Layout>
