---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Safety & Side Effects">
    <div class="afety and Side Effects">
        <h2>About Koselugo</h2>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
              veritatis error voluptas quas unde distinctio ea natus, tempore
              pariatur consequatur repudiandae quae earum hic harum delectus at
              sequi alias autem!
            </p>

      </div>
</Layout>