---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Safety & Side Effects">
    <div class="wrapper">
      <h2>Safety and Side Effects</h2>
      
      <Section>
        <Fragment slot="section-title">
          <span>WHAT ARE THE POSSIBLE </span> <span
            class="color-yellow">SIDE EFFECTS OF KOSELUGO?</span
          >
        </Fragment>
  
        <div class="wrapper">
          
          <div class="side-effects">

            <div class="side-effects--callout">
              <img src="/assets/images/safety-and-side-effects/side-effects-icon.png" alt=" " srcset="">
              <p>
                As with any medicine, it’s possible to experience side effects. Be sure to tell your child’s doctor if your child experiences any side effect that bothers them or does not go away.
              </p>
            </div>

            <h3>Koselugo may cause serious side effects, including:</h3>

            <p><strong>Heart problems:</strong> Koselugo can lower the amount of blood pumped by your heart, which is common and can also be severe. Your child’s healthcare provider will do tests before and during treatment with Koselugo to check how well your child’s heart is working. Tell your child’s healthcare provider right away if your child gets any of the following signs or symptoms:</p>
  
            <ul class="side-effects--list">
              <li>persistent coughing or wheezing </li>
              <li>tiredness</li>
              <li>shortness of breath</li>
              <li>increased heart rate</li>
              <li>swelling of your child’s ankles and feet</li>
            </ul>
  
            <p><strong>Eye problems:</strong> Koselugo can cause eye problems that can lead to blindness. Your child’s healthcare provider will check your child’s vision before and during treatment with Koselugo. Tell your child’s healthcare provider right away if your child gets any of the following signs or symptoms:</p>
  
            <ul class="side-effects--list">
              <li>
                loss of vision
              </li>
              <li>
                dark spots in your child’s vision (floaters)
              </li>
              <li>
                other changes to your child’s vision
              </li>
            </ul>
  
            <p><strong>Severe diarrhea:</strong> Diarrhea is common with Koselugo and can also be severe. Tell your child’s healthcare provider right away the first time that your child gets diarrhea during treatment with Koselugo. Your child’s healthcare provider may give your child medicine to help control diarrhea and may tell them to drink more fluids</p>
  
            <p><strong>Skin rash:</strong> Skin rashes are common with Koselugo and can also be severe. Tell your child’s healthcare provider if your child gets any of the following signs or symptoms:</p>
  
            <ul class="side-effects--list">
              <li>rash that covers a large area of your child’s body</li>
              <li>blisters</li>
              <li>peeling skin</li>
            </ul>
  
            <p><strong>Muscle problems (rhabdomyolysis):</strong> Muscle problems are common with Koselugo and can also be severe. Treatment with Koselugo may increase the level of a muscle enzyme in your child’s blood, which may be a sign of muscle damage. Your child’s healthcare provider should do a blood test to check your child’s muscle enzyme levels before they start taking Koselugo and during treatment. Tell your child’s healthcare provider right away if your child gets any of the following signs or symptoms:</p>
  
            <ul class="side-effects--list">
              <li>muscle aches or pain</li>
              <li>dark, reddish urine</li>
              <li>muscle spasms and weakness</li>
            </ul>
  
            <h3>
              Your child’s healthcare provider may change your child’s dose, temporarily stop, or permanently ask your child to stop taking Koselugo if they have any of these side effects.
            </h3>
  
            <h3>The most common side effects of Koselugo are:</h3>

          </div>
        

        </div>
      </Section>

    </div>
</Layout>