---
import SimpleHero from '../components/SimpleHero.astro';
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import AccordionItem from '../components/AccordionItem.astro';
---

<Layout title="Safety & Side Effects">
    <SimpleHero folder="safety-and-side-effects" alt="" />

    <div class="wrapper side-effect-page">

      <Section>
        <Fragment slot="section-title">
          <span>WHAT ARE THE POSSIBLE </span> <span
            class="color-yellow">SIDE EFFECTS OF KOSELUGO?</span
          >
        </Fragment>
  
          
        <div class="side-effects-page--section side-effects-page--section__overlapping">

          <div class="side-effects-page--callout">
            <img class="side-effects-page--callout__img" src="/assets/images/safety-and-side-effects/side-effects-icon.png" alt=" " srcset="">
            <p class="side-effects-page--callout__content">
              As with any medicine, it’s possible to experience side effects. Be sure to tell your child’s doctor if your child experiences any side effect that bothers them or does not go away.
            </p>
          </div>

          <h3 class="side-effects-page--section__heading side-effects-page--section__heading--3">Koselugo may cause serious side effects, including:</h3>

          
          <p class="side-effects-page--section__paragraph"><strong>Heart problems:</strong> Koselugo can lower the amount of blood pumped by your heart, which is common and can also be severe. Your child’s healthcare provider will do tests before and during treatment with Koselugo to check how well your child’s heart is working. Tell your child’s healthcare provider right away if your child gets any of the following signs or symptoms:</p>

          <ul class="side-effects-page--list">
            <li>persistent coughing or wheezing </li>
            <li>tiredness</li>
            <li>shortness of breath</li>
            <li>increased heart rate</li>
            <li>swelling of your child’s ankles and feet</li>
          </ul>
          <br class="mobile--only-2">
          <p><strong>Eye problems:</strong> Koselugo can cause eye problems that can lead to blindness. Your child’s healthcare provider will check your child’s vision before and during treatment with Koselugo. Tell your child’s healthcare provider right away if your child gets any of the following signs or symptoms:</p>

          <ul class="side-effects-page--list">
            <li>
              loss of vision
            </li>
            <li>
              dark spots in your child’s vision (floaters)
            </li>
            <li>
              other changes to your child’s vision
            </li>
          </ul>
          <br class="mobile--only-2">
          <p class="side-effects-page--section__paragraph"><strong>Severe diarrhea:</strong> Diarrhea is common with Koselugo and can also be severe. Tell your child’s healthcare provider right away the first time that your child gets diarrhea during treatment with Koselugo. Your child’s healthcare provider may give your child medicine to help control diarrhea and may tell them to drink more fluids</p>

          <p class="side-effects-page--section__paragraph"><strong>Skin rash:</strong> Skin rashes are common with Koselugo and can also be severe. Tell your child’s healthcare provider if your child gets any of the following signs or symptoms:</p>

          <ul class="side-effects-page--list">
            <li>rash that covers a large area of your child’s body</li>
            <li>blisters</li>
            <li>peeling skin</li>
          </ul>
          <br class="mobile--only-2">
          <p class="side-effects-page--section__paragraph"><strong>Muscle problems (rhabdomyolysis):</strong> Muscle problems are common with Koselugo and can also be severe. Treatment with Koselugo may increase the level of a muscle enzyme in your child’s blood, which may be a sign of muscle damage. Your child’s healthcare provider should do a blood test to check your child’s muscle enzyme levels before they start taking Koselugo and during treatment. Tell your child’s healthcare provider right away if your child gets any of the following signs or symptoms:</p>

          <ul class="side-effects-page--list">
            <li>muscle aches or pain</li>
            <li>dark, reddish urine</li>
            <li>muscle spasms and weakness</li>
          </ul>
          <br class="mobile--only-2">

          <h3 class="side-effects-page--section__heading side-effects-page--section__heading--3">
            Your child’s healthcare provider may change your child’s dose, temporarily stop, or permanently ask your child to stop taking Koselugo if they have any of these side effects.
          </h3>
          <br>
          <h3 class="side-effects-page--section__heading side-effects-page--section__heading--3">The most common side effects of Koselugo are:</h3>
          <br>


          <div class="side-effects-page--commun-list">
            
            <div class="side-effects-page--commun-list__column">
              
              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/vomiting-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Vomiting
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/stomach-pain-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Stomach pain
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/nausea-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Nausea
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/dry-skin-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Dry skin
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/tiredness-feeling-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                  Feeling of tiredness, weakness, or lacking energy
                
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/muscle-pain-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Muscle and bone pain
              </div>

            </div>

            <div class="side-effects-page--commun-list__column">

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/fever-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Fever
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/mouth-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Inflammation of the mouth
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/headache-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Headache
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/finger-icon.png" alt=" " srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Redness around the fingernails
              </div>

              <div class="side-effects-page--commun-list__item">
                <img class="side-effects-page--commun-list__item__img" src="/assets/images/safety-and-side-effects/icons/itching-icon.png" alt="" srcset="">
                <span class="side-effects-page--commun-list__point desktop--only"></span>
                Itching
              </div>

            </div>

          </div>

          <h3 class="side-effects-page--section__heading side-effects-page--section__heading--3">These are not all the possible side effects of Koselugo</h3>

          <p class="side-effects-page--section__paragraph">
            For more information, ask your doctor or pharmacist. Call your doctor for medical advice about side effects. You may report side effects to the FDA at <a class="side-effects__link" href="tel:1-800-FDA-1088">1-800-FDA-1088</a> .
          </p>

        </div>
        
      </Section>

      <section class="side-effects-page--secondary-section">
        <p class="side-effects-page--disclaimer side-effects-page--disclaimer__overlapping text--center color--aqua">
          Remember, the information on this page does not replace medical guidance or directions from your doctor. Always talk to them about side effects and ways to manage them.
        </p>
  
        <p class="side-effects-page--paragraph text--center color--aqua">
          See what people taking Koselugo experienced in a clinical study.
        </p>
  
        <a href="#" class="text--center color--rose">View results now</a>
        
      </section>
      
      <Section>
        <Fragment slot="section-title">
          <span>ARE THERE ANY TESTS NEEDED </span> <span
            class="color-yellow">BEFORE STARTING KOSELUGO?</span
          >
        </Fragment>

        <div class="side-effects-page--section">
          
          <p class="side-effects-page--section__paragraph">
            Make a list of questions you’d like to ask your child’s doctor and information you’d like to share about your child:
          </p>


          <div class="bg--paper">
            <div class="side-effects-page--steps">

              <!-- First step -->
              <div class="side-effects-page--steps__step">

                <div class="side-effects-page--steps__step--bullet">
                  <span class="side-effects-page--steps__step--number">1</span>
                  <div class="side-effects-page--steps__step--figure">
                  </div>
                </div>
                
                <p class="side-effects-page--steps__content">
                  Ask what <strong>tests are needed</strong>  before and during treatment
                </p>

              </div>

              <!-- Second step -->
              <div class="side-effects-page--steps__step">

                <div class="side-effects-page--steps__step--bullet">
                  <span class="side-effects-page--steps__step--number">2</span>
                  <div class="side-effects-page--steps__step--figure">
                  </div>
                </div>
                
                <p class="side-effects-page--steps__content">
                  Share details <strong>about pre-existing conditions</strong>
                </p>

              </div>

              <!-- Third step -->
              <div class="side-effects-page--steps__step">

                <div class="side-effects-page--steps__step--bullet">
                  <span class="side-effects-page--steps__step--number">3</span>
                  <div class="side-effects-page--steps__step--figure">
                  </div>
                </div>
                
                <p class="side-effects-page--steps__content">
                  Provide names of <strong>other medicines</strong> your child may be taking
                </p>

              </div>

            </div>
          </div>

          <div class="side-effects-page--problems-section__long">
            <h3 class="side-effects-page--section__heading side-effects-page--section__heading--3 text--center mx-15">Your child will take 3 tests before starting Koselugo:</h3>

            <ul class="side-effects-page--list side-effects-page--list__tests">
              <li>A test using sound waves to painlessly create pictures of the heart (called an echocardiogram)</li>
              <li>A blood test for certain enzymes and naturally occurring chemicals</li>
              <li>An assessment of your child’s eyes</li>
            </ul>
          </div>

          <h3 class="side-effects-page--section__heading side-effects-page--section__heading--3 text--center">Before starting Koselugo, tell your child’s doctor about all of your child’s medical conditions, including if they:</h3>
          
          <div class="side-effects-page--problems-section">
            
            <img class="side-effects-page--problems-section__img" src="/assets/images/safety-and-side-effects/icons/heart-icon.png" alt=" " />
            <div class="side-effects-page--problems-section__long">
              <h4 class="side-effects-page--problems-section__heading text--center">Have heart problems</h4>
            </div>
            
            <img class="side-effects-page--problems-section__img" src="/assets/images/safety-and-side-effects/icons/eye-icon.png" alt=" " />
            <div class="side-effects-page--problems-section__long">
              <h4 class="side-effects-page--problems-section__heading text--center">Have eye problems</h4>
            </div>
            
            <img class="side-effects-page--problems-section__img" src="/assets/images/safety-and-side-effects/icons/pregnant-icon.png" alt=" " srcset="" />
            
            <div class="side-effects-page--problems-section__long">
              <h4 class="side-effects-page--problems-section__heading text--center">Are pregnant or plan to become pregnant. Koselugo can harm an unborn baby</h4>

              <ul class="side-effects-page--list side-effects-page--list__tests">
                <li>Your child’s healthcare provider should check to see if your child is pregnant before they begin treatment with Koselugo</li>
                <li>Females who are able to become pregnant should use effective birth control (contraception) during treatment with Koselugo and for 1 week after the last dose</li>
                <li>Males with female partners who are able to become pregnant should use effective birth control (contraception) during treatment with Koselugo and for 1 week after the last dose</li>
                <li>Tell your child’s healthcare provider right away if your child becomes pregnant or thinks she may be pregnant during treatment with Koselugo</li>
              </ul>

            </div>

            <img class="side-effects-page--problems-section__img" src="/assets/images/safety-and-side-effects/icons/breastfeed-icon.png" alt="" srcset="">

            <div class="side-effects-page--problems-section__long">
              
              <h4 class="side-effects-page--problems-section__heading text--center">Are breastfeeding or plan to breastfeed</h4>

              <ul class="side-effects-page--list side-effects-page--list__tests">
                <li>It is not known if Koselugo passes into breast milk</li>
                <li>Your child should not breastfeed during treatment with Koselugo and for 1 week after the last dose</li>
                <li>Talk to your child’s healthcare provider about the best way for your child to feed her baby during this time</li>
              </ul>

            </div>

          </div>

        </div>

      </Section>

      <section class="side-effects-page--secondary-section">
        <p class="side-effects-page--disclaimer side-effects-page--disclaimer__two text--center color--aqua">
          Tell your child’s healthcare provider about all the medicines your child takes, including prescription and over-the-counter medicines, vitamins, or herbal supplements. Especially tell your child’s healthcare provider if your child is taking aspirin, blood thinners, or other medicines to treat blood clots. Koselugo contains vitamin E, which may increase the risk of bleeding.
        </p>
  
        <p class="side-effects-page--paragraph text--center color--aqua">
          Review the treatment journey of patients who took Koselugo in a clinical study
        </p>
  
        <a href="#" class="text--center color--rose">See their journeys here</a>
        
      </section>

    </div>
</Layout>