---
import SimpleHero from "../components/SimpleHero.astro";
import Layout from "../layouts/Layout.astro";
import PEM from "../components/PEM.astro";
import Section from "../components/Section.astro";
import OneSource from "../components/OneSource.astro";
---

<Layout title="Savings & Support">
  <div class="savings__page">
    <div class="wrapper">
      <PEM
        email="test@mail.com"
        name="Mike"
        show="true"
        phone="1-330-217-2642"
        photoAlt="Mike"
        photoSrc="/assets/images/pems/pem-1.svg"
      >
        <p slot="motivates">
          I enjoy understanding a problem or issue, thinking about the possible
          solutions, and coming up with a plan to make the situation better. I
          enjoy accepting challenges that make some uncomfortable and finding a
          way to make something happen for the good of others.
        </p>
        <p slot="goal">
          My #1 goal when helping patients is to give them hope and equip them
          with the resources to manage their condition more effectively.
        </p>
      </PEM>
    </div>
    <Section>
      <Fragment slot="section-title">
        HELPING YOUR CHILD <span class="color-yellow"
          >ACCESS THE CARE THEY NEED</span
        >
      </Fragment>
      <div class="wrapper">
        <p>
          OneSource™ is a free, personalized patient support program offered by
          Alexion. Whether your child is newly diagnosed or has had their
          condition for some time, our specialists will be by your side. We can
          help you make sense of your health insurance coverage, answer
          questions about your child's treatment with KOSELUGO® (selumetinib),
          and connect you to community resources.
        </p>
        <p>
          We're committed to helping your child start and stay on track with
          their prescribed treatment.
        </p>

        <div class="grid__wrapper">
          <div class="grid__icon">
            <img
              src="/assets/images/savings-and-support/personal-support-icon.png"
              class="icon"
              alt="Personal Support Image"
            />
          </div>
          <div class="grid__content">
            <h3 class="grid__content_heading">
              OneSource<sup>&trade;</sup> Support Services
            </h3>
            <p>
              Your dedicated Patient Access Navigator is here to guide and give
              you the support you deserve—whatever your care plan may be. They
              can:
            </p>
            <ul class="list">
              <li>
                Answer questions about neurofibromatosis type 1 (NF1) plexiform
                neurofibromas (PN), Koselugo, your insurance coverage, and more
              </li>
              <li>Provide support during treatment</li>
              <li>
                Help you avoid interruptions in your child’s treatment during
                insurance changes, travel plans, or other life events
              </li>
              <li>
                Help you get involved with the rare disease community through
                events and meetings
              </li>
            </ul>
          </div>
        </div>
        <div class="grid__wrapper">
          <div class="grid__icon">
            <img
              src="/assets/images/savings-and-support/financial-icon.png"
              class="icon financial"
              alt="Financial Icon"
            />
          </div>
          <div class="grid__content">
            <h3 class="grid__content_heading">
              Health insurance can be complicated. We’re here to help make sense
              of it all.
            </h3>
            <p>OneSource can help by:</p>
            <ul class="list">
              <li>
                Providing information that explains your insurance coverage for
                Koselugo
              </li>
              <li>
                Answering questions regarding financial concerns or gaps in
                coverage
              </li>
            </ul>
          </div>
        </div>
        <OneSource />

        <div class="video__text">
          To see the inspiring story of how 8-year-old Cooper and his family
          helped manage his treatment, view the <a href="#">video</a>.
        </div>
      </div>
    </Section>

    <div class="stay__informed">
      <Section>
        <Fragment slot="section-title">
          <span class="color-yellow">STAY INFORMED</span> ABOUT NF1 PN
        </Fragment>
        <div class="wrapper">
          <p>
            To receive the latest updates, tools, and tips about NF1 plexiform
            neurofibromas (PN) and Koselugo, please provide us with some
            information about yourself.
          </p>
        </div>
      </Section>
      <div class="form">
        <p>
          Are you a caregiver of someone who has been diagnosed with NF1
          plexiform neurofibromas? *
        </p>
        <h1>Form here...</h1>
      </div>
    </div>
  </div>
</Layout>
