---
import SimpleHero from "../components/SimpleHero.astro";
import Layout from "../layouts/Layout.astro";
import PEM from "../components/PEM.astro";
import Section from "../components/Section.astro";
import OneSource from "../components/OneSource.astro";
---

<Layout title="Savings & Support">
    <div class="savings__page">
        <div class="hero" id="pem-finder">
            <SimpleHero folder="savings-and-support" alt="PEM Team">
                <Fragment slot="content">
                    <div class="hero__content">
                        <h1 class="hero__title">KOSELUGO COMES WITH A TEAM</h1>
                        <p>
                            Contact your Patient Education Manager (PEM) today
                            for one-on-one support and education to help you
                            gain a greater understanding of NF1 PN and how it
                            can affect your child.
                        </p>
                        <div class="hero__content_form">
                            <form class="form" action="" method="post">
                                <label for="zip"
                                    >Enter your ZIP code to find the PEM closest
                                    to you.</label
                                >
                                <div class="form__group">
                                    <input
                                        type="text"
                                        class="form__control"
                                        id="zip"
                                        name="zip"
                                    />
                                    <input
                                        type="submit"
                                        class="form__submit"
                                        value="Submit"
                                    />
                                </div>
                            </form>
                        </div>
                    </div>
                </Fragment>
            </SimpleHero>
        </div>

        <div id="pem-finder" class="wrapper">
            <PEM
                email="test@mail.com"
                name="Mike"
                show="true"
                phone="1-330-217-2642"
                photoAlt="Mike"
                photoSrc="/assets/images/pems/mike.png"
            >
                <p slot="motivates">
                    I enjoy understanding a problem or issue, thinking about the
                    possible solutions, and coming up with a plan to make the
                    situation better. I enjoy accepting challenges that make
                    some uncomfortable and finding a way to make something
                    happen for the good of others.
                </p>
                <p slot="goal">
                    My #1 goal when helping patients is to give them hope and
                    equip them with the resources to manage their condition more
                    effectively.
                </p>
            </PEM>
            <PEM
                email="test@mail.com"
                name="Bonnie"
                show="true"
                phone="1-415-713-6242"
                photoAlt="Bonnie"
                photoSrc="/assets/images/pems/bonnie.png"
            >
                <p slot="motivates">Helping people however I can.</p>
                <p slot="goal">To support them in meeting their #1 goal.</p>
            </PEM>
            <PEM
                email="test@mail.com"
                name="Liz"
                show="true"
                phone="1-318-507-9592"
                photoAlt="Liz"
                photoSrc="/assets/images/pems/liz.png"
                zip="12345"
            >
                <p slot="motivates">
                    I am motivated by hearing patients’, caregivers’, and family
                    members’ stories. I believe that by listening you allow each
                    family member to tell their story. This builds trust and a
                    partnership for future education and support.
                </p>
                <p slot="goal">
                    My #1 goal is to be an advocate for the NF1 PN community of
                    patients, caregivers, and family members. I’m always looking
                    for ways to improve Alexion Rare Disease to support the NF1
                    PN community.
                </p>
            </PEM>
        </div>

        <Section className="onesource" id="onesource">
            <Fragment slot="section-title">
                HELPING YOUR CHILD <span class="color-yellow"
                    >ACCESS THE CARE THEY NEED</span
                >
            </Fragment>

            <p>
                OneSource™ is a free, personalized patient support program
                offered by Alexion. Whether your child is newly diagnosed or has
                had their condition for some time, our specialists will be by
                your side. We can help you make sense of your health insurance
                coverage, answer questions about your child's treatment with
                KOSELUGO® (selumetinib), and connect you to community resources.
            </p>
            <p>
                We're committed to helping your child start and stay on track
                with their prescribed treatment.
            </p>

            <div class="grid__wrapper">
                <div class="grid__icon">
                    <img
                        src="/assets/images/savings-and-support/personal-support-icon.png"
                        class="icon"
                        alt="Personal Support Image"
                    />
                </div>
                <div class="grid__content">
                    <h3 class="grid__content_heading">
                        OneSource<sup>&trade;</sup> Support Services
                    </h3>
                    <p>
                        Your dedicated Patient Access Navigator is here to guide
                        and give you the support you deserve—whatever your care
                        plan may be. They can:
                    </p>
                    <ul class="list">
                        <li>
                            Answer questions about neurofibromatosis type 1
                            (NF1) plexiform neurofibromas (PN), Koselugo, your
                            insurance coverage, and more
                        </li>
                        <li>Provide support during treatment</li>
                        <li>
                            Help you avoid interruptions in your child’s
                            treatment during insurance changes, travel plans, or
                            other life events
                        </li>
                        <li>
                            Help you get involved with the rare disease
                            community through events and meetings
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__wrapper">
                <div class="grid__icon">
                    <img
                        src="/assets/images/savings-and-support/financial-icon.png"
                        class="icon financial"
                        alt="Financial Icon"
                    />
                </div>
                <div class="grid__content">
                    <h3 class="grid__content_heading">
                        Health insurance can be complicated. We’re here to help
                        make sense of it all.
                    </h3>
                    <p>OneSource can help by:</p>
                    <ul class="list">
                        <li>
                            Providing information that explains your insurance
                            coverage for Koselugo
                        </li>
                        <li>
                            Answering questions regarding financial concerns or
                            gaps in coverage
                        </li>
                    </ul>
                </div>
            </div>
        </Section>

        <OneSource />

        <div class="video__text">
            <p>
                To see the inspiring story of how 8-year-old Cooper and his
                family helped manage his treatment, view the <a href="#"
                    >video</a
                >.
            </p>
        </div>

        <div class="stay__informed">
            <Section className="stay__informed-section register" id="register">
                <Fragment slot="section-title">
                    <span class="color-yellow">STAY INFORMED</span> ABOUT NF1 PN
                </Fragment>
            </Section>

            <p class="stay__informed-section-info">
                To receive the latest updates, tools, and tips about NF1
                plexiform neurofibromas (PN) and Koselugo, please provide us
                with some information about yourself.
            </p>

            <div class="form__wrapper">
                <div class="wrapper">
                    <form class="form">
                        <div
                            class="form__control"
                            data-touched="false"
                            data-required="true"
                            data-is-valid="false"
                        >
                            <fieldset>
                                <legend class="form__control-legend"
                                    >Are you a caregiver of someone who has been
                                    diagnosed with NF1 plexiform neurofibromas?</legend
                                >

                                <!-- Radio Buttons -->
                                <div class="form__control-radios">
                                    <div class="form__control-radio">
                                        <input
                                            type="radio"
                                            name="caregiver"
                                            id="caregiver-yes"
                                            onblur="validateFormControl(event)"
                                            onchange="validateFormControl(event)"
                                        />
                                        <label
                                            class="form__control-label"
                                            for="caregiver-yes">Yes</label
                                        >
                                    </div>

                                    <div class="form__control-radio">
                                        <input
                                            type="radio"
                                            name="caregiver"
                                            id="caregiver-no"
                                            onblur="validateFormControl(event)"
                                            onchange="validateFormControl(event)"
                                        />
                                        <label
                                            class="form__control-label"
                                            for="caregiver-no">No</label
                                        >
                                    </div>
                                </div>

                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </fieldset>
                        </div>

                        <div
                            class="form__control"
                            data-touched="false"
                            data-required="true"
                            data-is-valid="false"
                        >
                            <fieldset>
                                <legend class="form__control-legend"
                                    >Do you care for someone who has been
                                    prescribed Koselugo?</legend
                                >

                                <!-- Radio Buttons -->
                                <div class="form__control-radios">
                                    <div class="form__control-radio">
                                        <input
                                            type="radio"
                                            name="care"
                                            id="care-yes"
                                            onblur="validateFormControl(event)"
                                            onchange="validateFormControl(event)"
                                        />
                                        <label
                                            class="form__control-label"
                                            for="care-yes">Yes</label
                                        >
                                    </div>

                                    <div class="form__control-radio">
                                        <input
                                            type="radio"
                                            name="care"
                                            id="care-no"
                                            onblur="validateFormControl(event)"
                                            onchange="validateFormControl(event)"
                                        />
                                        <label
                                            class="form__control-label"
                                            for="care-no">No</label
                                        >
                                    </div>
                                </div>

                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </fieldset>
                        </div>

                        <div class="form__control-row">
                            <!-- Email -->
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label class="form__control-label" for="email"
                                    >Email adress</label
                                >
                                <input
                                    class="form__control-input"
                                    type="email"
                                    name="email"
                                    id="email"
                                    required
                                    aria-required="true"
                                    pattern="^[a-zA-Z0-9._-]{1,100}@[a-zA-Z0-9]+\.[a-zA-Z]{2,10}$"
                                    onblur="validateFormControl(event)"
                                    onchange="validateFormControl(event)"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>

                            <!-- Confirm email -->
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="confirm-email"
                                    >Confirm email adress</label
                                >
                                <input
                                    class="form__control-input"
                                    type="email"
                                    name="confirm-email"
                                    id="confirm-email"
                                    required
                                    aria-required="true"
                                    pattern="^[a-zA-Z0-9._-]{1,100}@[a-zA-Z0-9]+\.[a-zA-Z]{2,10}$"
                                    onblur="validateFormControl(event)"
                                    onchange="validateFormControl(event)"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                        </div>

                        <div class="form__control-row">
                            <!-- First name -->
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="first-name">First name</label
                                >
                                <input
                                    class="form__control-input"
                                    type="text"
                                    name="first-name"
                                    id="first-name"
                                    required
                                    aria-required="true"
                                    pattern="^[a-zA-Z.'\\- ]{1,50}$"
                                    onblur="validateFormControl(event)"
                                    onchange="validateFormControl(event)"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>

                            <!-- Last name -->
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="last-name">Last name</label
                                >
                                <input
                                    class="form__control-input"
                                    type="text"
                                    name="last-name"
                                    id="last-name"
                                    required
                                    aria-required="true"
                                    pattern="^[a-zA-Z.'\\- ]{1,50}$"
                                    onblur="validateFormControl(event)"
                                    onchange="validateFormControl(event)"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                        </div>

                        <!-- Disclaimer -->
                        <div class="form__control-disclaimer">
                            <fieldset>
                                <p class="form__control-legend">
                                    Alexion respects your personal health
                                    information. The information you provide may
                                    be used to send you health-related materials
                                    and to develop products, services, and
                                    programs. Alexion, or third parties working
                                    on our behalf, will not sell or rent
                                    personal health information. If in the
                                    future you no longer want to receive
                                    health-related materials, call
                                    1-844-259-6783. Please click <a
                                        href="https://alexion.com/Legal#privacynotice"
                                        target="_blank">here</a
                                    > to review our Privacy Notice.
                                </p>

                                <div
                                    class="form__control"
                                    data-touched="false"
                                    data-required="true"
                                    data-is-valid="false"
                                >
                                    <div class="form__control-checkbox">
                                        <input
                                            type="checkbox"
                                            name="disclaimer"
                                            id="disclaimer"
                                            required
                                            aria-required="true"
                                            onblur="validateFormControl(event)"
                                            onchange="validateFormControl(event)"
                                        />
                                        <label
                                            class="form__control-label"
                                            for="disclaimer"
                                            >By completing this registration, I
                                            confirm that I am 18 years of age or
                                            older and a US resident. I
                                            understand that I may also receive
                                            ongoing information and support
                                            related to NF1 PN, including
                                            treatment information.</label
                                        >
                                    </div>
                                    <p class="form__control-error">
                                        Important info/error
                                    </p>
                                </div>
                            </fieldset>
                        </div>

                        <!-- Required information -->
                        <p class="form__control-info">*Required information</p>

                        <!-- Submit -->
                        <div class="button button--primary form__control-submit">
                            <input class="input__submit" type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</Layout>
