---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SiteMap">
  <div class="wrapper">
    <div class="sitemap-page">
      <h1 class="sitemap-page__title">Site map</h1>

      <ul class="site-list">
        <li class="site-list__item">
          <a class="site-list__anchor" href="/index.html">Home</a>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/index.html"
            >Understanding NF1 PN</a
          >
          <ul class="inner-list">
            <li>
              <a href="/understanding-nf1-pn.html#about-nf1-pn">About NF1 PN</a>
            </li>
            <li>
              <a href="/understanding-nf1-pn.html#treatment-for-nf1-pn"
                >Treatment for NF1 PN</a
              >
            </li>
            <li>
              <a href="/understanding-nf1-pn.html#living-with-nf1-pn"
                >Living with NF1 PN</a
              >
            </li>
          </ul>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/about-koselugo.html"
            >About Koselugo</a
          >
          <ul class="inner-list">
            <li>
              <a href="/about-koselugo#what-is-koselugo.html"
                >What Is Koselugo?</a
              >
            </li>
            <li>
              <a href="/about-koselugo.html#tumor-response">Tumor Response</a>
            </li>
          </ul>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/safety-&-side-effects.html"
            >Safety and Side Effects</a
          >
          <ul class="inner-list">
            <li>
              <a href="/safety-&-side-effects.html#possible-side-effects"
                >Possible Side Effects</a
              >
            </li>
            <li>
              <a href="/safety-&-side-effects.html#before-starting-treatment"
                >Before Starting Treatment</a
              >
            </li>
          </ul>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/dosing-schedule.html"
            >Taking Koselugo</a
          >
          <ul class="inner-list">
            <li>
              <a href="/dosing-schedule.html#taking-koselugo">Taking Koselugo</a
              >
            </li>
            <li>
              <a href="/dosing-schedule.html#tips-for-taking">Tips for Taking</a
              >
            </li>
            <li>
              <a href="/dosing-schedule.html#taking-it-on-time"
                >Taking It on Time</a
              >
            </li>
            <li>
              <a href="/dosing-schedule.html#tracking-their-treatment"
                >Tracking Their Treatment</a
              >
            </li>
          </ul>
        </li>

        <li class="site-list__item" id="site-faqs">
          <a class="site-list__anchor" href="/dosing-schedule.html">FAQs</a>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/dosing-schedule.html"
            >Family Resources</a
          >
          <ul class="inner-list">
            <li>
              <a href="/resources.html#resources">Resources</a>
            </li>
            <li>
              <a href="/resources.html#resources-videos">Videos</a>
            </li>
            <li>
              <a href="/resources.html#advocacy-organizations"
                >Advocacy Organizations</a
              >
            </li>
          </ul>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/dosing-schedule.html"
            >Savings and Support</a
          >
          <ul class="inner-list">
            <li>
              <a href="/savings-and-support.html#pem-finder">PEM Finder</a>
            </li>
            <li>
              <a href="/savings-and-support.html#onesource">OneSource</a>
            </li>
            <li>
              <a href="/savings-and-support.html#register">Register</a>
            </li>
          </ul>
        </li>

        <li class="site-list__item" id="events-site-map">
          <a class="site-list__anchor" href="/events.html">EVENTS</a>
        </li>

        <li class="site-list__item">
          <a class="site-list__anchor" href="/glossary.html">GLOSSARY</a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
