---
import SimpleHero from '../components/SimpleHero.astro';
import Layout from "../layouts/Layout.astro";
import Section from '../components/Section.astro';
import Callout from '../components/Callout.astro';
---

<Layout title="Taking Koselugo">
    <SimpleHero folder="taking-koselugo" alt="" />
    <div class="taking-koselugo">
      <Section>
        <Fragment slot="section-title">
          <span class="color-yellow">HOW IS</span> KOSELUGO TAKEN?
        </Fragment>
        <div class="taking-koselugo__container">
          <img class="taking-koselugo__image hours-icon" src="/assets/images/taking-koselugo/12-hours-icon.png" alt=" ">
          <p><b>Doses should be taken—on an empty stomach—approximately the same time each day, about 12 hours apart</b></p>
          <ul class="taking-koselugo__list">
            <li class="taking-koselugo__list-item"><span class="color-aqua">Your child must take Koselugo on an empty stomach,</span> which means your child should not eat 2 hours before each dose or 1 hour after each dose</li>
          </ul>
          <img class="taking-koselugo__image atleast-image" src="/assets/images/taking-koselugo/atleast.png" alt=" ">
          <img class="taking-koselugo__image capsule-icon" src="/assets/images/taking-koselugo/capsule-icon.png" alt=" ">
          <p class="taking-koselugo__paragraph taking-koselugo__paragraph--emphasis"><b>Remember:</b></p>
          <p><b>Koselugo capsules must only be swallowed whole with water. They must not be chewed, dissolved, or opened.</b>  Taking Koselugo in a different way than instructed may affect how it works. To learn more, visit the <a href="https://koselugo.com/dosing-schedule.html#tips-for-taking">Tips For Taking Koselugo</a> page.</p>
          <ul class="taking-koselugo__list">
            <li class="taking-koselugo__list-item"><span class="color-aqua">If your child misses a dose,</span> they should take it as soon as you remember. If it is less than 6 hours before the next scheduled dose, give the next dose at the regular time. Do not make up for the missed dose</li>
            <li class="taking-koselugo__list-item"><span class="color-aqua">If your child vomits at any time after taking Koselugo,</span> they should not take an additional dose. The next dose should be taken at the regular time</li>
          </ul>
          <article>
            <header>
              <p>It's important to <b>GIVE KOSELUGO EXACTLY AS YOUR CHILD’S DOCTOR PRESCRIBES AND KEEP TO A DOSING SCHEDULE THAT FITS BEST WITH YOUR CHILD’S DAILY ROUTINE.</b></p>
              <p>The goal is to make it easy to stay on track to get the most out of treatment.</p>
            </header>
            <ul class="taking-koselugo__list">
              <li class="taking-koselugo__list-item"><b>Do not change the dose or stop taking Koselugo unless directed by your child’s doctor</b></li>
              <li class="taking-koselugo__list-item">Your child’s doctor may change the dose, temporarily stop, or permanently stop treatment if your child has side effects</li>
              <li class="taking-koselugo__list-item">Your child’s doctor will decide on the right dose of Koselugo based on your child’s weight or size (body surface area), and how many capsules of Koselugo to take</li>
            </ul>
          </article>
          <Callout />
        </div>
      </Section>
      <Section noHeader>
        <div class="taking-koselugo__container">
          <h6>Explore the treatment journeys of children who took Koselugo in a clinical study.</h6>
          <a href="/dosing-schedule.html#track-their-treatment">Explore the treatment journeys of children who took Koselugo in a clinical study.</a>
        </div>
      </Section>
      <Section>
        <Fragment slot="section-title">
          <span class="color-yellow">ARE THERE</span> ANY TIPS FOR TAKING KOSELUGO?
        </Fragment>
        <div class="taking-koselugo__container taking-koselugo--tips">
            <h6>Encouraging a child to take medicine can be a difficult task. Common reasons why children don’t want to take medicine may include:</h6>
            <ul class="taking-koselugo__list">
              <li class="taking-koselugo__list-item">
                <img class="taking-koselugo__image not-understanding-icon" src="/assets/images/taking-koselugo/not-understanding-icon.png" alt="">
                <span>Not understanding why they need to take it</span>
              </li>
              <li class="taking-koselugo__list-item">
                <img class="taking-koselugo__image taste-icon" src="/assets/images/taking-koselugo/taste-icon.png" alt="">
                <span>Not liking the taste or texture</span>
              </li>
              <li class="taking-koselugo__list-item">
                <img class="taking-koselugo__image swallowing-tablets-icon" src="/assets/images/taking-koselugo/swallowing-tablets-icon.png" alt="">
                <span>Having difficulty swallowing medication</span>
              </li>
            </ul>
            <p>It’s important that your child understands why it’s necessary to take 2 doses of Koselugo every day. Be sure to talk about it in a way that’s positive. And, as your child grows, you may need to change your approach to ensure that the dosing schedule is followed.</p>
            <h6>Suggestions to help give medicine to young children:</h6>
            <ul class="taking-koselugo__list">
              <li class="taking-koselugo__list-item">Role playing can be helpful: Pretending to give a favorite doll or teddy bear some medicine can make taking medicine more fun</li>
              <li class="taking-koselugo__list-item">Try to do a positive, fun activity after your child takes the medicine. This may help motivate your child to take the medicine again</li>
            </ul>
            <p>
              <b>For some helpful tips to teach your child how to swallow pills,</b> you may want to download the brochure
              <a href="#">Medicine & Your Child: A Guide for Parents on Adherence and Administration</a> or visit <a href="#">www.kidshealth.org</a> to see Teaching Your Child How to Swallow Pills for additional suggestions.
            </p>
            <p>Please note: These links will take you to sites that are maintained by a third party who is solely responsible for its contents. Alexion is not responsible for the privacy policy of any third-party websites. We encourage you to read the privacy policy of every website you visit.</p>             
        </div>
      </Section>
      <Section>
        <Fragment slot="section-title">
          HOW CAN I ESTABLISH A DAILY SCHEDULE FOR <span class="color-yellow">TAKING KOSELUGO?</span>
        </Fragment>
        <div class="taking-koselugo__container">
          <p>Work with your child’s doctor to establish a dosing routine that can be easily followed. Taking each dose of Koselugo as directed, every day, is the best way to benefit from treatment.</p>
          <img class="taking-koselugo__image taking-koselugo__image--only-mobile schedules-for-dose" src="/assets/images/taking-koselugo/schedules-for-dose-mobile.png" alt=" ">
          <img class="taking-koselugo__image taking-koselugo__image--tablet-desktop schedules-for-dose" src="/assets/images/taking-koselugo/schedules-for-dose-desktop.png" alt=" ">
          <p>These sample schedules are designed as suggestions only.</p>
          <p>You may want to use a dose-alert timer, or the alarm on your smartphone, as a reminder to take the medicine on time as part of your child’s daily dosing routine.</p>
          <img class="taking-koselugo__image koselugo-bottle" src="/assets/images/taking-koselugo/koselugo-bottle.png" alt=" ">
        </div>
      </Section>
      <Section>
        <Fragment slot="section-title">
          WHAT WAS THE EXPERIENCE LIKE FOR THOSE PATIENTS <span class="color-yellow">TAKING KOSELUGO?</span>
        </Fragment>
        <div class="taking-koselugo__container">
            <p>
              <b>Your child is beginning treatment. It may be helpful to see what other patients experienced.</b> The chart below is an overview of the first year of patients who took Koselugo in a clinical study. It notes when patients responded to treatment and when they experienced side effects.
            </p>
            <p>It’s important to remember that everyone may respond to treatment differently, so your child may not experience the same efficacy results (tumor shrinkage) or the same side effects described below.</p>
            <p>Please know that these are not all the possible efficacy results or side effects your child may experience during treatment with Koselugo.</p>
            <h6>Use the chart below to track your child’s progress and any side effects that may occur. Be sure to share your child’s experience with their doctor.</h6>
            <img class="taking-koselugo__image taking-koselugo__image--only-mobile patient-journey-chart" src="/assets/images/taking-koselugo/patient-journey-chart-mobile.png" alt="">
            <img class="taking-koselugo__image taking-koselugo__image--tablet-desktop patient-journey-chart" src="/assets/images/taking-koselugo/patient-journey-chart-mobile.png" alt="">
            <p>*Of the 33 patients that responded to Koselugo treatment in the clinical trial, approximately one-half saw their tumor volume shrink by at least 20% within 7 months. The time of onset of response ranged from 3.3 months to 19.2 months.</p>
            <p>†Koselugo can lower the amount of blood pumped by the heart. Your child’s doctor should do tests before and during treatment to check how well your child’s heart is working.</p>
            <p>‡Koselugo can cause eye problems. Tell your child’s doctor as soon as possible if your child’s vision blurs or if any other changes to their sight occur during treatment.</p>
            <p>Having the right support can make all the difference in your child’s treatment journey. Learn about the Patient Access Navigators who are ready to connect caregivers and patients to the personal assistance they need here.</p>
        </div>
      </Section>
      <Section noHeader>
        <h6>Visit the Koselugo Frequently Asked Questions page</h6>
        <a href="/faq">Visit the FAQs here</a>
      </Section>
    </div>
</Layout>