---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Understanding NF1 PN">
    <div class="wrapper">
        <h2>Understanding NF1 PN</h2>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
              veritatis error voluptas quas unde distinctio ea natus, tempore
              pariatur consequatur repudiandae quae earum hic harum delectus at
              sequi alias autem!
            </p>

      </div>
</Layout>