<div class="callout">
  <div class="callout__image">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="/assets/images/nurse-call-icon-tablet.png"
      />
      <source
        media="(min-width: 1100px)"
        srcset="/assets/images/nurse-call-icon-desktop.png"
      />
      <img src="/assets/images/nurse-call-icon.png" alt=" " />
    </picture>
  </div>
  <div class="callout__content">
    <p>
      To learn more or to contact your dedicated Patient Access Navigator,
      please call <a href="tel:1-888-765-4747" class="link color--aqua"
        >1-888-765-4747</a
      >, Monday through Friday, 8:30 <small>AM</small>–8 <small>PM</small> ET, or
      visit <a
        href="https://alexiononesource.com/"
        target="_blank"
        class="link text--decoration-underline color--rose"
        >www.AlexionOneSource.com</a
      >.
    </p>
  </div>
</div>
