<section class="custom-section">
    <div class="custom-section__header">
        <img class="custom-section__headline" src="/icons/headline.png" />
        <h3 class="custom-section__title">
            <slot name="section-title" />
        </h3>
    </div>

    <article class="custom-section__content">
        <slot />
    </article>
</section>