<div class="events-form">
    <div class="events-list__container">
        <div class="events-list__wrapper">
            <h3 class="events-list__title">Upcoming events</h3>
            <div class="events-list__filters">
                <button
                    data-filter="all"
                    class="button events-filter events-filter--active"
                    >All</button
                >
                <button data-filter="virtual" class="button events-filter"
                    >Virtual</button
                >
                <button data-filter="in-person" class="button events-filter"
                    >In-person</button
                >
            </div>
            <div class="events-list">
                <div class="event" data-event-id="1" data-event-type="virtual">
                    <div class="event__header">
                        <div class="event__schedule">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">Virtual</span>
                        </div>
                        <p class="event__title">
                            How to be your child’s advocate
                        </p>
                        <p class="event__subtitle">
                            Presented by: <span class="event__presenter"
                                >Alexion Pharmaceuticals, Inc.</span
                            >
                        </p>
                    </div>
                    <p class="event__description">
                        Gain a new perspective on caring for a child with NF1 PN
                        from this presentation. Listen to a patient or caregiver
                        share stories and provide meaningful insights about the
                        NF1 PN journey.
                    </p>
                    <div class="event__actions">
                        <button class="button button--primary register-event"
                            >Register</button
                        >
                    </div>
                </div>
                <div
                    class="event"
                    data-event-id="2"
                    data-event-type="in-person"
                >
                    <div class="event__header">
                        <div class="event__schedule">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">In person</span>
                        </div>
                        <p class="event__title">
                            Learn about neurofibromatosis type 1 (NF1),
                            plexiform neurofibromas (PN), and treatment with
                            KOSELUGO® (selumetinib)
                        </p>
                        <p class="event__subtitle">
                            Presented by: <span class="event__presenter"
                                >Alexion Pharmaceuticals, Inc.</span
                            >
                        </p>
                    </div>
                    <p class="event__description">
                        Discover more about NF1 PN and its effects on the body.
                        Learn about Koselugo and the results seen in children
                        with NF1 PN. Also, gain access to support programs to
                        help you and your family in your journey.
                    </p>
                    <div class="event__actions">
                        <button class="button button--primary register-event"
                            >Register</button
                        >
                    </div>
                </div>
                <div
                    class="event"
                    data-event-id="3"
                    data-event-type="in-person"
                >
                    <div class="event__header">
                        <div class="event__schedule">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">In person</span>
                        </div>
                        <p class="event__title">
                            Learn about neurofibromatosis type 1 (NF1),
                            plexiform neurofibromas (PN), and treatment with
                            KOSELUGO® (selumetinib)
                        </p>
                        <p class="event__subtitle">
                            Presented by: <span class="event__presenter"
                                >Alexion Pharmaceuticals, Inc.</span
                            >
                        </p>
                    </div>
                    <p class="event__description">
                        Discover more about NF1 PN and its effects on the body.
                        Learn about Koselugo and the results seen in children
                        with NF1 PN. Also, gain access to support programs to
                        help you and your family in your journey.
                    </p>
                    <div class="event__actions">
                        <button class="button button--primary register-event"
                            >Register</button
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="event-list__toggler">
            <button class="event-list__toggler-button">
                <img
                    class="event-list__toggler-arrow"
                    src="/assets/icons/arrow-rose.svg"
                    alt=""
                />
            </button>
        </div>
    </div>

    <div class="events-form__container">
        <div class="events-form__wrapper">
            <div class="events-form__header">
                <h3 class="events-form__title">Title of event</h3>
                <div class="events-form__schedule">
                    <span class="events-form__date">July 01, 2023</span>
                    <span class="events-form__hour">7:00 PM</span>
                </div>
                <p class="events-form__address">
                    Venue name 1234 Street Rd City, MA 01234
                </p>
            </div>
            <div class="form__steps">
                <form class="form" id="register-event-form" novalidate>
                    <div class="step">
                        <div class="step__header">
                            <p class="step__title">Required Information</p>
                        </div>
                        <div class="step__form-controls">
                            <div
                                class="form__control form__control--invalid"
                                data-touched="true"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="first-name">First Name</label
                                >
                                <input
                                    autocomplete="given-name"
                                    class="form__control-input"
                                    type="text"
                                    id="first-name"
                                    name="first-name"
                                    required
                                    aria-required="true"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="last-name">Last Name</label
                                >
                                <input
                                    autocomplete="additional-name"
                                    class="form__control-input"
                                    type="text"
                                    id="last-name"
                                    name="last-name"
                                    required
                                    aria-required="true"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>

                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label class="form__control-label" for="email"
                                    >Email Address</label
                                >
                                <input
                                    autocomplete="email"
                                    class="form__control-input"
                                    type="email"
                                    id="email"
                                    name="email"
                                    required
                                    aria-required="true"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>

                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="zip-code">ZIP Code</label
                                >
                                <input
                                    autocomplete="postal-code"
                                    class="form__control-input"
                                    type="text"
                                    id="zip-code"
                                    name="zip-code"
                                    required
                                    aria-required="true"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>

                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label
                                    class="form__control-label"
                                    for="phone-number">Phone number</label
                                >
                                <input
                                    autocomplete="tel"
                                    class="form__control-input"
                                    type="text"
                                    id="phone-number"
                                    name="phone-number"
                                    required
                                    aria-required="true"
                                />
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>

                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <label class="form__control-label" for="i-am-a"
                                    >I am a...</label
                                >
                                <select
                                    class="form__control-select"
                                    aria-placeholder="Select one"
                                >
                                    <option value="" selected disabled
                                        >Select one</option
                                    >
                                    <option
                                        value="Parent of a child with NF1 PN"
                                        >Parent of a child with NF1 PN</option
                                    >
                                    <option
                                        value="Other family member or friend"
                                        >Other family member or friend</option
                                    >
                                    <option value="Patient advocate"
                                        >Patient advocate</option
                                    >
                                </select>
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                            <div
                                class="form__control"
                                data-touched="false"
                                data-field-index="8"
                                data-required="true"
                                data-is-valid="false"
                            >
                                <fieldset>
                                    <legend class="form__control-legend"
                                        >Are you bringing a guest? <span
                                            class="label__hint"
                                            >(Only one guest per registrant)</span
                                        ></legend
                                    >
                                    <div class="form__control-radios">
                                        <div class="form__control-radio">
                                            <input
                                                id="yes"
                                                type="radio"
                                                name="bringing-guest"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="patient"
                                            >
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form__control-radio">
                                            <input
                                                id="no"
                                                type="radio"
                                                name="bringing-guest"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="caregiver"
                                            >
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                        </div>
                        <div class="step__form-actions">
                            <button class="button button--basic button--back"
                                >Back</button
                            >
                            <button class="button button--basic">Next</button>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step__header">
                            <p class="step__title">
                                Additional information (optional)
                            </p>
                        </div>
                        <div class="step__form-controls">
                            <div
                                class="form__control"
                                data-touched="false"
                                data-field-index="9"
                                data-required="false"
                                data-is-valid="false"
                            >
                                <fieldset>
                                    <legend class="form__control-legend"
                                        >Do you have any dietary restrictions?
                                        Select all that apply.</legend
                                    >
                                    <div class="form__control-checkboxes">
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="vegerarian"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="vegerarian"
                                                >Vegetarian</label
                                            >
                                        </div>
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="vegan"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="vegan">Vegan</label
                                            >
                                        </div>
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="gluten-free"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="gluten-free"
                                                >Gluten-free</label
                                            >
                                        </div>
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="kosher"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="kosher">Kosher</label
                                            >
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="false"
                                data-is-valid="false"
                            >
                                <label class="form__control-label" for="gender"
                                    >Gender</label
                                >
                                <select
                                    id="gender"
                                    class="form__control-select"
                                    aria-placeholder="Select one"
                                >
                                    <option value="" selected disabled
                                        >Select one</option
                                    >
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Nonbinary">Nonbinary</option>
                                    <option value="Rather not specify"
                                        >Rather not specify</option
                                    >
                                </select>
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                            <div
                                class="form__control form__control--last-select"
                                data-touched="false"
                                data-required="false"
                                data-is-valid="false"
                            >
                                <label class="form__control-label" for="how-did-you-hear"
                                    >How did you hear about this program?</label
                                >
                                <select
                                    id="how-did-you-hear"
                                    class="form__control-select"
                                    aria-placeholder="Select one"
                                >
                                    <option value="" selected disabled
                                        >Select one</option
                                    >
                                    <option value="Online">Online</option>
                                    <option value="Emailed invitation">Emailed invitation</option>
                                    <option value="Mailed invitation">Mailed invitation</option>
                                    <option value="OneSource™">OneSource™</option>
                                    <option value="Physician/Healthcare provider">Physician/Healthcare provider</option>
                                    <option value="Another patient/caregiver">Another patient/caregiver</option>
                                    <option value="Patient advocacy group">Patient advocacy group</option>
                                </select>
                                <p class="form__control-error">
                                    Important info/error
                                </p>
                            </div>
                            <div
                                class="form__control form__control--basic-education"
                                data-touched="false"
                                data-field-index="9"
                                data-required="false"
                                data-is-valid="false"
                            >
                                <fieldset>
                                    <legend class="form__control-legend"
                                        >What do you hope to gain from this
                                        event? Select all that apply.</legend
                                    >
                                    <div class="form__control-checkboxes">
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="basic-education"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="basic-education"
                                                >Basic education about NF1 PN</label
                                            >
                                        </div>
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="learn-about-treatments"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="learn-about-treatments"
                                                >Learn about NF1 PN treatments</label
                                            >
                                        </div>
                                        <div
                                            class="form__control-checkbox form__control-checkbox--rounded"
                                        >
                                            <input
                                                id="learn-about-support"
                                                type="checkbox"
                                                name="terms"
                                                aria-required="false"
                                            />
                                            <label
                                                class="form__control-label"
                                                for="learn-about-support"
                                                >Learn about the support Alexion
                                                provides for NF1 families</label
                                            >
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div
                                class="form__control"
                                data-touched="false"
                                data-required="false"
                                data-is-valid="false"
                            >
                                <div class="form__control-checkbox">
                                    <input
                                        id="terms-and-conditions"
                                        type="checkbox"
                                        name="terms"
                                        aria-required="false"
                                    />
                                    <label
                                        class="form__control-label"
                                        for="terms-and-conditions"
                                    >
                                        By checking this box and submitting this
                                        form, I give Alexion permission to
                                        provide promotional information to me or
                                        otherwise contact me about Alexion
                                        products, services, programs, or other
                                        topics that Alexion thinks may interest
                                        me. I have read and understand the
                                        Alexion Privacy Notice.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="step__form-actions">
                            <button class="button button--basic button--back"
                                >Back</button
                            >
                            <div class="button button--primary">
                                <input type="submit" value="Register" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
