<div class="events-form">
    <div class="events-form__wrapper">
        <div class="events-list__wrapper">
            <h3 class="events-list__title">Upcoming events</h3>
            <div class="events-list__filters">
                <button
                    data-filter="all"
                    class="button events-filter events-filter--active">All</button
                >
                <button data-filter="virtual" class="button events-filter"
                    >Virtual</button
                >
                <button data-filter="in-person" class="button events-filter"
                    >In-person</button
                >
            </div>
            <div class="events-list">
                <div class="event" data-event-id="1" data-event-type="virtual">
                    <div class="event__header">
                        <div class="event__schedule">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">Virtual</span>
                        </div>
                        <p class="event__title">
                            How to be your child’s advocate
                        </p>
                        <p class="event__subtitle">
                            Presented by: <span class="event__presenter">Alexion Pharmaceuticals, Inc.</span>
                        </p>
                    </div>
                    <p class="event__description">
                        Gain a new perspective on caring for a child with NF1 PN
                        from this presentation. Listen to a patient or caregiver
                        share stories and provide meaningful insights about the
                        NF1 PN journey.
                    </p>
                    <div class="event__actions">
                        <button class="button button--primary register-event">Register</button>
                    </div>
                </div>
                <div class="event" data-event-id="2" data-event-type="in-person">
                    <div class="event__header">
                        <div class="event__schedule">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">In person</span>
                        </div>
                        <p class="event__title">
                            Learn about neurofibromatosis type 1 (NF1),
                            plexiform neurofibromas (PN), and treatment with
                            KOSELUGO® (selumetinib)
                        </p>
                        <p class="event__subtitle">
                            Presented by: <span class="event__presenter">Alexion Pharmaceuticals, Inc.</span>
                        </p>
                    </div>
                    <p class="event__description">
                        Discover more about NF1 PN and its effects on the body.
                        Learn about Koselugo and the results seen in children
                        with NF1 PN. Also, gain access to support programs to
                        help you and your family in your journey.
                    </p>
                    <div class="event__actions">
                        <button class="button button--primary register-event">Register</button>
                    </div>
                </div>
                <div class="event" data-event-id="3" data-event-type="in-person">
                    <div class="event__header">
                        <div class="event__schedule">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">In person</span>
                        </div>
                        <p class="event__title">
                            Learn about neurofibromatosis type 1 (NF1),
                            plexiform neurofibromas (PN), and treatment with
                            KOSELUGO® (selumetinib)
                        </p>
                        <p class="event__subtitle">
                            Presented by: <span class="event__presenter">Alexion Pharmaceuticals, Inc.</span>
                        </p>
                    </div>
                    <p class="event__description">
                        Discover more about NF1 PN and its effects on the body.
                        Learn about Koselugo and the results seen in children
                        with NF1 PN. Also, gain access to support programs to
                        help you and your family in your journey.
                    </p>
                    <div class="event__actions">
                        <button class="button button--primary register-event">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-list__toggler">
            <button class="event-list__toggler-button">
                <img class="event-list__toggler-arrow" src="/assets/icons/arrow-rose.svg" alt="" />
            </button>
        </div>
    </div>
</div>
