<section class="event-joiner">
    <div class="wrapper">
        <div class="event-joiner__wrapper">
            <div class="event-joiner__info">
                <h3>
                    Join an event to learn more, access resources, and connect with others living with NF1 PN.
                </h3>

                <p>
                    Ask questions and gather information about NF1 PN at a free webinar or in-person event. These events are intended for parents and caregivers of children with NF1 PN.
                </p>

                <button class="button button--primary">
                    See events
                </button>

                <p>
                    Our events cover a range of topics surrounding NF1 PN. Based on the event you attend, you could receive information about one or more of the following:
                </p>

                <ul class="event-joiner__topics">
                    <li class="event-joiner__topic">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>