<div class="events-form">
    <div class="events-form__wrapper">
        <div class="events-list__wrapper">
            <h3 class="events-list__title">Upcoming events</h3>
            <div class="events-list__filters">
                <button data-filter="all" class="events-filter events-filter--active">All</button>
                <button data-filter="virtual" class="events-filter">Virtual</button>
                <button data-filter="in-person" class="events-filter">In-person</button>
            </div>
            <div class="events-list">
                <div class="event" data-event-type="virtual">
                    <div class="event__header">
                            <span class="event__date">July 01, 2023</span>
                            <span class="event__hour">7:00 PM</span>
                            <span class="event__type">Virtual</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>