---
type Props = {};

const {} = Astro.props;
---

<footer class="footer">
  <!-- Footer Logo -->
  <div class="footer__logo">
    <a href="/">Footer Logo</a>
  </div>
  <!-- Footer Navigation -->
  <div class="footer__nav">
    <nav>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>

  <style></style>
</footer>
