---
---

<header class="site__header">
  <div class="site__header_logo">
    <a href="/" class="site__header_logo_link">
      <img
        src="images/logo.png"
        alt="logo"
        class="site__header_logo_link_img"
      />
    </a>
  </div>
  <div class="site__header_nav">
    <ul class="site__header_nav_list">
      <li class="site__header_nav_list_item">
        <a href="/" class="site__header_nav_list_item_link">Home</a>
      </li>
      <li class="site__header_nav_list_item">
        <a href="about.html" class="site__header_nav_list_item_link">About</a>
      </li>
      <li class="site__header_nav_list_item">
        <a href="contact.html" class="site__header_nav_list_item_link"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</header>
