---
---

<header class="site__header">
  <div class="site__header_top mobile--only">
    <nav class="site__header_nav_menu">
      <ul class="site__header_nav_menu_list">
        <li class="site__header_nav_menu_list_item">
          <a href="#isi" class="site__header_nav_menu_list_item_link"
            >Important Safety Information</a
          >
        </li>
        <li class="site__header_nav_menu_list_item">
          <a href="http://www.azpicentral.com/pi.html?product=koselugo" target="_blank" class="site__header_nav_menu_list_item_link"
            >Prescribing Information</a
          >
        </li>
        <li class="site__header_nav_menu_list_item">
          <a href="http://koselugohcp.com/" target="_blank" class="site__header_nav_menu_list_item_link"
            >For Healthcare Professionals</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="site__header_middle wrapper">
    <div class="site__header_logo">
      <a href="/" class="site__header_logo_link">
        <img
          src="/assets/images/logo.svg"
          alt="Header logo"
          class="site__header_logo_link_img"
        />
      </a>
    </div>
    <div class="site__header_right desktop--only">
      <nav class="site__header_nav_menu">
        <ul class="site__header_nav_menu_list">
          <li class="site__header_nav_menu_list_item">
            <a href="#isi" class="site__header_nav_menu_list_item_link"
              >Important Safety Information</a
            >
          </li>
          <li class="site__header_nav_menu_list_item">
            <a href="http://www.azpicentral.com/pi.html?product=koselugo" target="_blank" class="site__header_nav_menu_list_item_link"
              >Prescribing Information</a
            >
          </li>
          <li class="site__header_nav_menu_list_item">
            <a href="http://koselugohcp.com/" target="_blank" class="site__header_nav_menu_list_item_link"
              >For Healthcare Professionals</a
            >
          </li>
          <li class="site__header_nav_item">
            <a
              href="#"
              target="_blank"
              class="site__header_nav_item_link site__header_nav_item_link_icon"
            >
              <img
                src="/assets/icons/facebook.svg"
                alt="Facebook"
                class="site__header_nav_item_link_icon"
              />
            </a>
          </li>
          <li class="site__header_nav_item">
            <a
              href="#"
              target="_blank"
              class="signup__nav_link button button--primary"
              >Sign Up for an Event</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <button id="toggle-menu-button" class="nav__menu_toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="site__header_bottom site__header_nav">
    <div class="wrapper">
      <nav id="main__navigation" class="site__header_nav_menu">
        <ul class="site__header_nav_menu_list">
          <li class="site__header_nav_menu_list_item">
            <a
              href="/understanding-nf1-pn.html"
              class="site__header_nav_menu_list_item_link has__sub_nav"
              >UNDERSTANDING NF1</a
            >
            <!-- Sub Nav -->
            <ul class="site__header_nav_menu_list sub__nav_menu">
              <li class="sub__nav_menu_item">
                <a
                  href="/understanding-nf1-pn.html#about-nf1-pn"
                  class="sub__nav_menu_item_link">About NF1 PN</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/understanding-nf1-pn.html#treatment-for-nf1-pn"
                  class="sub__nav_menu_item_link">Treatment for NF1 PN</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/understanding-nf1-pn.html#living-with-nf1-pn"
                  class="site__header_nav_menu_list_item sub__nav_menu_item_link"
                  >Living with NF1 PN</a
                >
              </li>
            </ul>
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/about-koselugo.html"
              class="site__header_nav_menu_list_item_link has__sub_nav"
              >ABOUT KOSELUGO</a
            >
            <!-- Sub Nav -->
            <ul class="site__header_nav_menu_list sub__nav_menu">
              <li class="sub__nav_menu_item">
                <a
                  href="/about-koselugo#what-is-koselugo.html"
                  class="sub__nav_menu_item_link">What Is Koselugo?</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/about-koselugo.html#tumor-response"
                  class="sub__nav_menu_item_link">Tumor response</a
                >
              </li>
            </ul>
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/safety-&-side-effects.html"
              class="site__header_nav_menu_list_item_link has__sub_nav"
              >SAFETY AND SIDE EFFECTS</a
            >
            <!-- Sub Nav -->
            <ul class="site__header_nav_menu_list sub__nav_menu">
              <li class="sub__nav_menu_item">
                <a
                  href="/safety-&-side-effects.html#possible-side-effects"
                  class="sub__nav_menu_item_link">Possible Side Effects</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/safety-&-side-effects.html#before-starting-treatment"
                  class="sub__nav_menu_item_link">Before Starting Treatment</a
                >
              </li>
            </ul>
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/taking-koselugo.html"
              class="site__header_nav_menu_list_item_link has__sub_nav"
              >TAKING KOSELUGO</a
            >
            <!-- Sub Nav -->
            <ul class="site__header_nav_menu_list sub__nav_menu">
              <li class="sub__nav_menu_item">
                <a
                  href="/taking-koselugo.html#taking-koselugo"
                  class="sub__nav_menu_item_link">Taking Koselugo</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/taking-koselugo.html#tips-for-taking"
                  class="sub__nav_menu_item_link">Tips for Taking</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/taking-koselugo.html#taking-it-on-time"
                  class="sub__nav_menu_item_link">Taking It on Time</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/taking-koselugo.html#tracking-their-treatment"
                  class="sub__nav_menu_item_link">Tracking Their Treatment</a
                >
              </li>
            </ul>
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/faqs.html"
              class="site__header_nav_menu_list_item_link text-transform--none"
              >FAQs</a
            >
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/family-resources.html"
              class="site__header_nav_menu_list_item_link has__sub_nav"
              >FAMILY RESOURCES</a
            >
            <!-- Sub Nav -->
            <ul class="site__header_nav_menu_list sub__nav_menu">
              <li class="sub__nav_menu_item">
                <a
                  href="/family-resources.html#resources"
                  class="sub__nav_menu_item_link">Resources</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/family-resources.html#resources-videos"
                  class="sub__nav_menu_item_link">Videos</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/family-resources.html#advocacy-organizations"
                  class="sub__nav_menu_item_link">Advocacy Organizations</a
                >
              </li>
            </ul>
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/savings-and-support.html"
              class="site__header_nav_menu_list_item_link has__sub_nav"
              >SAVINGS AND SUPPORT</a
            >
            <!-- Sub Nav -->
            <ul class="site__header_nav_menu_list sub__nav_menu">
              <li class="sub__nav_menu_item">
                <a
                  href="/savings-and-support.html#pem-finder"
                  class="sub__nav_menu_item_link">PEM Finder</a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/savings-and-support.html#onesource"
                  class="sub__nav_menu_item_link">OneSource<sup>&trade;</sup></a
                >
              </li>
              <li class="sub__nav_menu_item">
                <a
                  href="/savings-and-support.html#register"
                  class="sub__nav_menu_item_link">Register</a
                >
              </li>
            </ul>
          </li>
          <li class="site__header_nav_menu_list_item">
            <a href="/events.html" class="site__header_nav_menu_list_item_link"
              >EVENTS</a
            >
          </li>
          <li class="site__header_nav_menu_list_item">
            <a
              href="/glossary.html"
              class="site__header_nav_menu_list_item_link">GLOSSARY</a
            >
          </li>
          <li class="site__header_nav_item mobile--only">
            <a
              href="https://www.facebook.com/Koselugo/"
              target="_blank"
              class="site__header_nav_item_link site__header_nav_item_link_icon"
            >
              <img
                src="/assets/icons/facebook.svg"
                alt="Facebook"
                class="site__header_nav_item_link_icon"
              />
            </a>
          </li>
          <li class="site__header_nav_item mobile--only">
            <a
              href="/savingsand-support.html#register"
              target="_blank"
              class="site__header_nav_item_link signup__nav_link button button--primary"
              >Sign Up for an Event</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
