<!-- Hero -->
<div class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <h1 class="hero__title">
        The best way to get started with <span class="hero__title--highlight"
          >Tailwind CSS</span
        >
      </h1>
      <p class="hero__description">
        A utility-first CSS framework for rapidly building custom user
        interfaces.
      </p>
    </div>
    <div class="hero__image">
      <img
        src="https://tailwindcss.com/img/hero.png"
        alt="Tailwind CSS Hero Image"
      />
    </div>
  </div>
</div>
