<!-- Hero -->
<div class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <h1 class="hero__title">Hero Section</h1>
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies,
        nisl ut aliquam tincidunt, nunc elit aliquam massa, eget aliquam nisl
        nisl eget nisl. Sed euismod, nisl vel aliquam consectetur, nunc elit
        aliquam massa, eget aliquam nisl nisl eget nisl.
      </p>
    </div>
    <div class="hero__image">
      <!-- unplash image -->
      <img
        src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60107ed479293a1144ffceab_6002086f72b7275b5801e725_website-hero-image.jpeg"
        alt="hero image"
      />
    </div>
  </div>
</div>
