<section class="main-hero">
  <div class="wrapper">
    <div class="main-hero__wrapper">
      <div class="main-hero__callout">
        <h1 class="main-hero__title">
          The FIRST and ONLY FDA-approved medication proven to reduce the size
          of PN*
        </h1>
        <p class="main-hero__foot-info">
          *66% or 33 of 50 patients in the clinical study saw a 20% or more
          decrease in the size of their plexiform neurofibromas, confirmed by 3D
          magnetic resonance imaging (MRI) scan.
        </p>
        <p class="main-hero__copy">
          KOSELUGO® (selumetinib) is a prescription medicine that is used to
          treat children 2 years of age and older with neurofibromatosis type 1
          (NF1) who have plexiform neurofibromas that cannot be completely
          removed by surgery. It is not known if Koselugo is safe and effective
          in children under 2 years of age.
        </p>
        <div class="main-hero__actions">
          <a
            href="/about-koselugo.html#tumor-response"
            class="button button--primary">See Koselugo Results</a
          >
          <a
            href="savingsandsupport.html#register"
            class="button button--secondary">Find Support</a
          >
        </div>
      </div>
      <div class="main-hero__image-wrapper">
        <div class="main-hero__image">
          <picture class="main-hero__picture">
            <source
              srcset="/assets/images/main-hero/main-hero-desktop.png"
              media="(min-width: 1300px)"
            />
            <source
              srcset="/assets/images/main-hero/main-hero-tablet.png"
              media="(min-width: 900px)"
            />
            <img src="/assets/images/main-hero/main-hero-mobile.png" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <img
    class="main-hero__bottom-transition"
    src="/assets/images/main-hero/main-hero-transition.svg"
    alt=""
  />
</section>
