<section class="main-hero">
    <div class="main-hero__wrapper">
        <div class="main-hero__callout">
            <div class="wrapper">
                <h3 class="main-hero__title">
                    The FIRST and ONLY medication proven to reduce the size of
                    PN*
                </h3>
                <p class="main-hero__copy">
                    KOSELUGO® (selumetinib) is a prescription medicine that is
                    used to treat children 2 years of age and older with
                    neurofibromatosis type 1 (NF1) who have plexiform
                    neurofibromas that cannot be completely removed by surgery.
                    It is not known if Koselugo is safe and effective in
                    children under 2 years of age.
                </p>
                <div class="main-hero__actions">
                    <a href="#" class="button button--primary"
                        >See Koselugo Results</a
                    >
                    <a href="#" class="button button--secondary">Find Support</a>
                </div>
            </div>
        </div>
        <div class="main-hero__image-wrapper">
            <div class="main-hero__image">
                <picture class="main-hero__picture">
                    <source
                        srcset="/assets/images/main-hero/main-hero-desktop.png"
                        media="(min-width: 1024px)"
                    />
                    <img
                        src="/assets/images/main-hero/main-hero-mobile.png"
                        alt=""
                    />
                </picture>
                <img class="main-hero__bottom-transition"
                    src="/assets/images/main-hero/main-hero-transition.svg"
                    alt=""
                />
            </div>
        </div>
    </div>
</section>
