---
---

<div class="modal" id="modal" style="display: none;">
  <div class="modal__wrapper" tabindex="-1">
    <button
      class="button modal__close"
      data-dismiss="modal"
      aria-label="Close modal"
    >
      x
    </button>
    <div class="modal__content">
      <h1 class="modal__title">You are now about to leave the Koselugo website</h1>
      <div class="modal__text">
          <p>
             This link will take you to a site maintained by a third party who is solely responsible for its content.
         </p>
            <p>
                Alexion provides this link as a service to website visitors. Alexion is not responsible for the privacy policy of any third-party websites. We encourage you to read the privacy policy of every website you visit.
            </p>
        </div>
      <div class="modal__buttons">
          <button data-dismiss="modal" id="back" class="button modal--stay">Back</button
          >
        <a id="proceed" href="#" class="button modal--continue">Continue</a>
      </div>
    </div>
  </div>
</div>

<script>
  import { Fancybox } from "@fancyapps/ui";

  const externalLinks = document.querySelectorAll(
    'a[target="_blank"]:not(.document-link)'
  );

  if (externalLinks && externalLinks.length > 0) {
    externalLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();

        const href = link.getAttribute("href");
        const modal = document.querySelector("#modal");
        const continueButton = modal.querySelector(".modal--continue");
        const stayButton = modal.querySelector(".modal--stay");
        const modalClose = modal.querySelector(".modal__close");

        continueButton.setAttribute("href", href);
        continueButton.setAttribute("target", "_blank");

        stayButton.addEventListener("click", () => {
          Fancybox.close();
        });
        modalClose.addEventListener("click", () => {
          Fancybox.close();
        });
/* 
        continueButton.addEventListener("click", () => {
          console.log(link)
          console.log(continueButton)
          Fancybox.close();
          setTimeout(() => {
            window.open(link.attributes.href, "_blank");
          }, 500);
        }); */

        Fancybox.show(
          [
            {
              src: 'modal',
              type: "inline",
              //dragToClose: false,
              autoFocus: true,
              placeFocusBack: true,
              trapFocus: true,
            },
          ],
          {
            on: {
              done: () => {
                /* console.log(link) */
                
                link = continueButton
                /* console.log(link)
                console.log(href) */

                link.addEventListener('click', ()=>{
                  //console.log('ola')
                  setTimeout(() => {
                    window.open(href, "_blank");
                    Fancybox.close();
                  }, 500);
                  return;
                })

              }, 
              close: () => {
                continueButton.setAttribute("href", "");
              },
            },
          }
        );
      });
    });
  }
</script>
