---
import "../styles/css/fancybox.css";
---

<div class="modal" id="modal">
    <div class="modal__wrapper" tabindex="-1">
        <button class="button modal__close" data-dismiss="modal" aria-label="Close modal">
            x
        </button>
        <div class="modal__content">

            <h1 class="modal__title">
                You are now leaving ahussource.com
            </h1>
            <p class="modal__text">
                You are now leaving the aHUSSource.com website.
                Alexion is not responsible for content included on third-party websites. Do you want to proceed?
            </p>
            <div class="modal__buttons">
                <a href="#" class="button button--primary modal--continue">PROCEED</a>
                <button data-dismiss="modal" class="button button--secondary modal--stay">STAY HERE</button>
            </div>

        </div>
    </div>
</div>