---
type Props = {
    noHeader?: boolean;
    className?: string
};
const { noHeader, className = "" } = Astro.props;
---

<section class={`custom-section ${className}`}>
    {
        !noHeader && (
            <div class="custom-section__header">
                <img
                    class="custom-section__headline"
                    src="/assets/icons/headline.png"
                />
                <div class="custom-section__title-wrapper">
                    <h3 class="custom-section__title">
                        <slot name="section-title" />
                    </h3>
                </div>
            </div>
        )
    }

    <article class="custom-section__content">
        <div class="section-wrapper">
            <slot />
        </div>
    </article>
</section>
