// Basic color variables
// --------------------------------------------------
$color-white: #FFFFFF;
$color-black: #333333;
$color-dark: #000000;
$color-aqua: #559CB5;
$color-light-blue: #E2EBF2;
$color-soft-blue: #EEF5F7;
$color-gray: #636466;
$color-granite-gray: #666666;
$color-light-gray: #C4C4C4;
$color-lighter-gray: #DCD9DA;
$color-soft-gray: #F1F1F1;
$color-rose: #870051;
$color-dark-purple: #210022;
$color-yellow: #FFF200;
$color-silver: #727477;